<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ResourceHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/group4.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">ResourceHub</a>

                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Resource" asp-action="MyUploads">My Uploads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Resource" asp-action="Upload">🖊️Upload
                                    Resource</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Index">About ResourceHub</a>
                            </li>
                        </ul>
                    </div>
                }

                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <form class="d-flex" role="search" style="padding-right: 30%;">
                        <input class="form-control me-2" type="search" placeholder="Search resource..." aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                }

                <nav class="navbar bg-body-tertiary">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <button class="btn-outline-success btn-sm">
                            <a class="nav-link dropdown-toggle" style="font-size:small;" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                👋Hello, @User.Identity.Name
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">View Profile</a></li>
                                <li><a asp-controller="User" asp-action="Logout" class="dropdown-item">Logout</a></li>
                            </ul>
                        </button>
                    }
                    else
                    {
                        @* <button class="btn-outline-success btn-sm"> *@
                        <a asp-controller="User" asp-action="Login" class="nav-link" style="font-size:md;"
                            aria-expanded="false">
                            Login
                        </a>
                        <a asp-controller="User" asp-action="SignUp" class="nav-link" style="font-size:md;"
                            aria-expanded="false">
                            SignUp
                        </a>
                        @* </button> *@
                    }
                </nav>
            </div>

        </nav>
    </header>
    <div class="container">

        <!-- User Profile -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">My Profile</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Hello, @User?.Identity?.Name</p>
                        @{
                            var identity = User?.Identities.FirstOrDefault();
                            if (identity != null)
                            {
                                var lastname = identity.FindFirst("LastName")?.Value; // Get the username
                                var email = identity.FindFirst("Email")?.Value; // Get the email
                                var firstName = identity.FindFirst("FirstName")?.Value; // Get the custom FirstName claim
                                <p>Hello, @lastname</p>

                            }
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ResourceHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
